<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="COM API TEST PRODUCTION">
    <listeners>
        <listener class-name="Listeners.ExtentReportListener"/>
        <listener class-name="Listeners.RetryListener"/>

    </listeners>

    <test name="Create Order" verbose="10">
        <classes>
            <class name="Demotest"/>
        </classes>
    </test>

    <test name="Create Ordero" verbose="10">
        <classes>
            <class name="Demotest"/>
        </classes>
    </test>

    <test name="Create Orderii" verbose="10">
        <classes>
            <class name="Demotest"/>
        </classes>
    </test>

</suite>
